.calculator {
  background-color: #F7F7F7;

  h2 {
    text-align: center;
    padding: 3rem 2rem;
  }

  margin-bottom: 2rem;
}

.calculator__content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  font-family: Open-Sans, sans-serif;
}

.calculator__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  input, select {
    font-size: 1.5rem;
    border-radius: 0.3rem;
    height: 2.5rem;
    outline: none;
    border: 1px solid $primary-blue;
    margin-bottom: 2rem;
    background-color: white;
  }

  .checkbox {
    display: flex;

    input:checked:after {
      top: -20%;
      left: 25%;
    }

    p {
      padding-top: 0.3rem;
    }

  }
}

.calculator__result {
  display: flex;
  flex-direction: column;
  width: 100%;

  li {
    opacity:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    list-style: none;
    border-radius: 0.3rem;
    height: 2rem;
    box-shadow: 0 3px 6px #00000029;
    background-color: $third-green;
    margin-bottom: 1rem;
    padding:0.6rem;
    span:last-child {
      font-weight: 700;
    }

    &:last-child {
      box-shadow: 0 3px 6px #00000029;
      background-color: $primary-blue;
      width: 45%;
      height: 38px;
      padding:0.7rem;
      opacity:1;
    }
  }
}


@media screen and (min-width: 700px) {
  .calculator__content {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 3rem;

    h2 {
      width: 100%;
    }

    .calculator__input {
      width: 45%;

      .checkbox {
        p {
          padding-top: 0.3rem;
        }
      }
    }

    .calculator__result {
      width: 45%;
    }
  }
}

