* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1124px;
}

body {
    font-family: 'Raleway', sans-serif;
}

.header_content {
    text-align: center;
    margin-top: 200px;
    letter-spacing: 0;
    color: #000000;
    background: #FFFFFF url(assets/Background.png) no-repeat center bottom / contain;
    height: 712px;
}

header p {
    margin-top: 20px;
    margin-bottom: 38px;
    font-size: 16px;
    line-height: 22px;
}

h1 {
    font-size: 49px;
    font-weight: 400;
    line-height: 57px;
}

.header_content button {
    background: #08A6E4 0 0 no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    border: none;
    padding: 22px 157px;
    color: #FFFFFF;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

nav span {
    color: #08A6E4;
    font-size: 32px;
    font-weight: lighter;
    margin-left: 136px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    height: 70px;
    padding: 27px 0;
    margin-right: 95px;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
}

nav li:last-child {
    margin-right: 136px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #A5A5A5;
    letter-spacing: 3px;
    font-size: 11px;
    font-weight: bold;
    display: block;
}

nav li:hover {
    color: #000000;
    border-bottom: 4px solid #08A6E4;
}

.sales_platform h2 {
    text-align: center;
    margin: 100px auto;
    font-size: 36px;
    font-weight: 400;
}

.circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
    display: flex;
}

.circle-one {
    background-color: #FB3B64;
}

.circle-one::after {
    content: url("assets/Person.svg");
    height: 44px;
    width: 52px;
    position: absolute;
    left: 45%;
}

.circle-two {
    background-color: #08A6E4;
}

.circle-two::after {
    content: url("assets/Eye.svg");
    position: absolute;
    top: 23%;
    left: 30%;
}


.circle-three {
    background-color: #55DFB4;
}

.circle-three::after {
    content: url("assets/Catalog.svg");
    position: absolute;
    top: 10%;
    left: 50%;
}

.sales_platform > .container {
    display: flex;
    justify-content: space-evenly;
}

.container > .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 121px;
}

.item:first-child{
    width:116px;
    height: 140px;
}

.item:nth-child(2){
    width:176px;
    height: 167px;
}

.item:nth-child(3){
    width:163px;
    height: 167px;
}

.item p {
    line-height: 24px;
    font-size: 20px;
    font-weight: 800;
    padding-top: 14px;
    padding-bottom: 19px;
    text-align: center;
}


.small-banners {
    height: 1395px;
    background-color: #F7F7F7;
    padding-top: 105px;
}

.small-banners h2 {
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 30px;
}

.small-banners > .container > div {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    height: 370px;
    margin-bottom: 37px;
}

.small-banners > .container > div:not(.recognition) {
    background-color: #FFFFFF;
}

.text-under-item {
    font-weight: 400;
    color: #A5A5A5;
    font-size: 17px;
    text-align: center;
    line-height: 20px;
}

.text-under-item-two {
    padding:0 10px;
}
.text-under-item-three {
    padding:0 15px;
}

.always-first-text {
    width: 416px;
    height: 188px;
    padding-left: 35px;
}


.always-first-text h2 {
    font-size: 36px;
    font-weight: 400;
    padding-top: 91px;
}

.always-first-text p {
    padding-bottom: 50px;
    position: relative;
}

.always-first-text p::after {
    content: "";
    border: 3px solid #FB3B64;
    width: 327px;
    position: absolute;
    left: 0;
    top: 100%;
}

.always-first-image {
    padding-top: 113px;
    padding-bottom: 38px;
    padding-right: 117px;
    position: relative;
}

.always-first-image img {
    height: 219px;
    width: 386px;
    position: relative;
    z-index: 1;
}

.always-first-image::after {
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 41px;
    background-color: #FB3B64;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    left: 40%;
    top: 20%;
}

.your-shop-image::after {
    content: "";
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: #07ACE6;
    position: absolute;
    top: 5%;
    left: 15%;
}

.your-shop-image {
    position: relative;
}

.your-shop-image img {
    height: 328px;
    width: 426px;
    margin-top: 29px;
    margin-left: 70px;
    margin-bottom: 13px;
    position: relative;
    z-index: 1;
}

.your-shop-text h2 {
    padding-right: 170px;
}

.your-shop-text {
    position: relative;
    width: 416px;
    margin-right: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.your-shop-text p {
    position: relative;
    padding-bottom: 50px;
}

.your-shop-text p::after {
    content: "";
    border: 3px solid #08A6E4;
    width: 327px;
    position: absolute;
    left: 0;
    top: 100%;
}


.recognition-text {
    width: 623px;
    height: 370px;
    margin-right: 61px;
    background-color: #FFFFFF;
    padding: 70px 35px;
}

.recognition-text h2 {
    padding-right: 206px;
}

.recognition-text p {
    position: relative;
    padding-bottom: 50px
}

.recognition-text p::after {
    content: "";
    border: 3px solid #55DFB4;
    width: 327px;
    position: absolute;
    left: 0;
    top: 100%;
}


.recognition-image {
    width: 440px;
    background-color: #55DFB4;
}

.recognition-image img {
    height: 208px;
    width: 296px;
    margin: 92px 82px 64px 62px;
}


.pricing h2 {
    text-align: center;
    margin-top: 100px;
    font-size: 36px;
    color: #000000;
    font-weight: 400;
}

.pricing-offers {
    display: flex;
    justify-content: center;
    margin-bottom: 180px;
    flex-wrap: wrap;

}


.pricing-offers h3 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 34px;
    margin-bottom: 14px;
}

.pricing-offers > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 372px;
    height: 461px;
    border: 1px solid;
    border-radius: 18px;
    margin-top: 113px;
}

.pricing-basic p {
    font-size: 46px;
    color: #FB3B64;
    padding-bottom: 69px;
    font-weight: 300;
    line-height: 64px;
    font-family: Open-Sans, sans-serif;
}

.pricing-offers li {
    font-family: Open-Sans, sans-serif;
    list-style: none;
    padding-bottom: 20px;
}

.pricing-offers .pricing-basic {
    border: 1px solid #FB3B64;
    position: relative;
}

.pricing-basic li {
    list-style: none;
    padding-bottom: 20px;
}

.pricing-offers li::before {
    content: url(assets/Ckechmark-1.svg);
    padding-right: 10px;
}

.pricing-basic li:nth-child(4)::before {
    content: url(assets/Close.svg);
    padding-right: 10px;
}

.pricing-basic li:last-child::before {
    content: url(assets/Close.svg);
}

.pricing-offers button {
    height: 50px;
    width: 150px;
    border-radius: 23px;
    color: #FFFFFF;
    border: none;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    bottom: -5%;
}

.pricing-basic button {
    background-color: #EB476E;
}

.pricing-basic li:last-child {
    padding-bottom: 80px;
}

.pricing-offers > .pricing-professional {
    width: 405px;
    height: 500px;
    margin: 92px 58px 0 58px;
    border-color: #07ACE6;
    position: relative;
    box-shadow: 5px 10px 27px #07ACE629;
}

.pricing-professional p:nth-child(2) {
    font-size: 46px;
    font-family: Open-Sans, sans-serif;
    padding-bottom: 5px;
    color: #07ACE6;
    font-weight: 300;
    line-height: 70px;
}

.pricing-professional p:nth-child(3) {
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 61px;
}

.pricing-professional li {
    padding-bottom: 26px;
}

.pricing-professional li:last-child::before {
    content: url(assets/Close.svg);
    padding-right: 10px;
}


.pricing-professional button {
    background-color: #07ACE6;
}

.pricing-offers > .pricing-premium {
    border-color: #55DFB4;
    position: relative;
}

.pricing-premium p:nth-child(2) {
    font-family: Open-Sans, sans-serif;
    font-size: 46px;
    padding-bottom: 5px;
    color: #55DFB4;
    font-weight: 300;
    line-height: 64px;
}

.pricing-premium p:nth-child(3) {
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 50px;
}

.pricing-premium button {
    background-color: #55DFB4;
}

.questions > .container {
    display: flex;
    justify-content: center;
    width: 896px;
    height: 376px;
    margin-bottom: 60px;
}

.questions-text > p:first-child {
    font-size: 49px;
    line-height: 57px;
    padding-bottom: 22px;
}

.questions-text > p:nth-child(2) {
    font-family: Open-Sans, sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin-bottom:42px;
}

.questions-text-contact {
    display: flex;
    font-family: Open-Sans, sans-serif;
    font-weight: 500;
    align-items: center;
    color: #A5A5A5;
}

.questions-text-contact p:nth-child(2) {
    padding-right: 20px;
}

.questions-text-contact img {
    width: 27px;
    height: 27px;
}
.questions-text-contact img {
    margin-right:10px;
}


form {
    display: flex;
    flex-direction: column;
    width: 440px;
    margin-left: 113px;
}

input {
    border: none;
    border-bottom: 1px solid #95989A;
    line-height: 43px;
    margin-bottom: 43px;
    font-size: 25px;
}

form label {
    font-family: Open-Sans, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #08A6E4;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.checkbox {
    display: flex;
}

.checkbox > input {
    height: 24px;
    width: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position:absolute;
    background: #FFFFFF;
    border: 1px solid #95989A;
    border-radius: 4px;
    outline:none;
    margin-bottom:0;
}


.checkbox > input:checked{
    outline:none;
    border:1px solid #08A6E4;
}

.checkbox > input:checked::after{
    content:url("assets/Checkmark.svg");
    outline:none;
    position:absolute;
    top:-60%;
    left:25%;
}

.checkbox p {
    font-family: Open-Sans, sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #707070;
    padding-left: 34px;
    padding-bottom: 20px;
}

form button {
    width: 226px;
    height: 57px;
    background-color: #08A6E4;
    border-radius: 35px;
    box-shadow: 5px 10px 14px #07ACE629;
    border: none;
    margin-left: 213px;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    font-family: Open-Sans, sans-serif;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;
    background-color: #F7F7F7;
    box-shadow: 0 -5px 40px #00000029
}

.footer-text {
    margin-left: 136px;
}

.footer-icons {
    margin-right: 136px;
}

.footer-text p:first-child {
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: #08A6E4;
    padding-bottom: 7px;
}

.footer-text p:last-child {
    font-family: Open-Sans, sans-serif;
    color: #A5A5A5;
    font-size: 11px;
    line-height: 15px;
}

.footer-icons img:first-child {
    padding-right: 20px;
}